language: perl

perl:
    - "5.22"
    - "5.16"

jdk:
    - oraclejdk8

addons:
    apt:
        packages:
            - oracle-java8-installer
            - oracle-java8-set-default

env:
    global:
        - RELEASE_TESTS=1
        - KAFKA_BASE_DIR="${TRAVIS_BUILD_DIR}/kafka"

cache:
    directories:
        - vendor
        - perl_modules

before_install:
    - source /etc/profile.d/jdk.sh
    - ./install_kafka.sh
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=${PWD}/perl_modules)"
    - cpanm --notest Test::Distribution
    - cpanm --notest Test::Kwalitee
    - cpanm --notest Test::Kwalitee::Extra
